.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}

.gameName {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px dashed #fff;
  font-family: monospace;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.board .game {
  display: grid;
  grid-template-columns: repeat(3, 65px);
  grid-template-rows: 65px 65px 65px;
}

.sectionFooter {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: end;
  padding: 10px 0;
  border-top: 1px dashed #fff;
}

/*
==========
Draw Board
==========
*/
.board .game > .chart:nth-child(1) {
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

.board .game > .chart:nth-child(2) {
  border-bottom: 4px solid #fff;
}

.board .game > .chart:nth-child(3) {
  border-bottom: 4px solid #fff;
  border-left: 4px solid #fff;
}

.board .game > .chart:nth-child(4) {
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

.board .game > .chart:nth-child(6) {
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

.board .game > .chart:nth-child(7) {
  border-right: 4px solid #fff;
}

.board .game > .chart:nth-child(8) {
  border-top: 4px solid #fff;
}

.board .game > .chart:nth-child(9) {
  border-left: 4px solid #fff;
}
